<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Shaker</title>		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="/stylesheets/themes/device.css" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/shake-o-meter.js"></script>
	</head>

	<body>
		  <div data-role="page" data-theme="a">
		  	<div data-role="header" data-position="inline">
				<h1>Clap-O-Meter</h1>
			</div>
		  <div data-role="content" data-theme="a">
		    <ul data-role="listview" data-inset="true" data-filter="true">    
			    <% events.forEach(function(event){ %>
			    <li><a href="device/<%= event.id %>/shake"><%= event.name %></a></li>
			  	<% }) %>
		  	</ul>
		  </div>
		  
		  <div data-role="footer">
			<h4>Select an Event</h4>
		  </div><!-- /footer -->
		</div>
		<div>
			<form id="manual">
				Aplitude:<input type="text" id="amplitude" value="2">
				Frequency (Hz):<input type="text" id="frequency" value="5">
				<input type="submit" id="manual" value="Clap">
			</form>
		</div>
		<img src="/images/shake.jpg" width="100%"/>
		
		
		<script type="text/javascript">
		
			$("#manual").submit(function( event ) {
				event.preventDefault();
				var motion = $("#motion").val();
				var frequency = $("#frequency").val();
				var amplitude = $("#amplitude").val();
				$.post( "../shook", {event: <%= event %>, motion: 'clap', frequency: frequency, amplitude: amplitude }).done(function( data ) {
					console.log( "Response: " + data );
				});
			});

				
		</script>
		<script type="text/javascript">
			screenwhite = true;
			num_claps = 0;
			window.onload = function() {
			
				setInterval(
					function(){
						if (num_claps > 0){
							$.post( "../shook", {event: <%= event %>, motion: 'clap', frequency: num_claps, amplitude: 4 }).done(function( data ) {
								console.log( "Response: " + data );
							});
							num_claps = 0;
						}
					},2000);
			
				window.addEventListener('shake', shakeEventDidOccur, false);
				
				//define a custom method to fire when shake occurs.
				function shakeEventDidOccur () {
					num_claps = num_claps + 1;
			
					if(screenwhite == true){
						document.body.style.backgroundColor = '#ff0';
						screenwhite = false;
					}
					else{
						document.body.style.backgroundColor = '#fff';
						screenwhite = true;
					}
			
				}
			};
		</script>
	
	</body>
</html>
