<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Shaker</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width,user-scalable=yes" />
		<style>
			body {
				font-family: helvetica, arial, sans serif;
			}
		</style>
	</head>

	<body>
		<div>
			<form id="manual">
				<input type="text" id="motion" value="clap">
				<input type="text" id="amplitude" value="1">
				<input type="text" id="frequency" value="1">
				<input type="submit" id="manual" value="Go">
			</form>
		</div>
		<div id="content">
	
		</div>
		
		<script type="text/javascript">
		
			$("#manual").submit(function( event ) {
				event.preventDefault();
				var motion = $("#motion").val();
				var frequency = $("#frequency").val();
				var amplitude = $("#amplitude").val();
				$.post( "shook", { event: 1, motion: motion, frequency: frequency, amplitude: amplitude }).done(function( data ) {
					alert( "Data Loaded: " + data );
				});
			});
				
		</script>
	
	</body>
</html>
