<!DOCTYPE html>
<html>
  <head>
    <title>Clap-O-Meter</title>
    <style>
    	body {
    		font-family: verdana;
    	}
    </style>
  </head>
  <body>
  	<table>
	  	<tr>
	  		<td>
	    		<img src="images/clapping.png" width="150;"/>
	    	</td>
	    	<td>
	    		<h1>Welcome to the Clap-O-Meter!</h1>
	    	</td>
	    </tr>
    </table>
    <p>
    	Please select an event to participate in!
    </p>
    <table border="1" cellpadding="5">
	    <% events.forEach(function(event){ %>
	    <tr>
	    	<td>
	    		<b><%= event.name %></b>
	    	</td>
	    	<td>
	    		<a href="admin/<%= event.id %>/results">View Results</a>
	    	</td>
	    </tr>
	  	<% }) %>
  	</table>
    
  </body>
</html>