<!DOCTYPE html>
<html>
  <head>
    <title>Shake-O-Meter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="header">Shake-O-Meter</div>
  	<div class="subhead">Shake-O-Meter</div>
  	<div class="content">
  		<div>
	  		<p>
		    	Real-time analytics for your event!
		    </p>
	    </div>
	    <p>
	    	Please select an event to participate in:
	    </p>
	    <ul>
		    <% events.forEach(function(event){ %>
		    	<li>
		    		<a href="admin/<%= event.id %>/results"><%= event.name %></a>
		    	</li>
		  	<% }) %>
	  	</ul>
  	</div>
    </div>
  </body>
</html>